.Container {
    border: 1px solid gainsboro;
    display: flex;
    flex-direction: column;
}

.Top {
    position: relative;
    display: flex;
}

.Image {
    object-fit: cover;
    width: 100%;
}

.ArrowLeft, .ArrowRight {
    background-color: black;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 16px;
    font-weight: bold;
    transition: 0.2s ease;
    user-select: none;
}

.ArrowRight {
    height: 100%;
    width: 100%;
    padding: 0;
    right: 0;
}

.Counter {
    border-top: 1px solid gainsboro;
    text-align: center;
    padding: 12px;
}

.Dot {
    cursor: pointer;
    height: 14px;
    width: 14px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: 0.1s ease;
}

.Dot + .Dot {
    margin-left: 8px;
}

@media (any-hover: hover) and (pointer: fine) {
    .ArrowRight {
        height: fit-content;
        width: fit-content;
        padding: 16px;
    }

    .ArrowLeft:hover, .ArrowRight:hover{
        opacity: 0.6 !important;
    }
    
    .Top:hover .ArrowLeft, .Top:hover .ArrowRight {
        opacity: 0.1;
    }

    .Dot:hover {
        background-color: #8282da;
    }
}

@media only screen and (min-width: 768px) {
    .ArrowLeft, .ArrowRight {
        font-size: 42px;
    }
}

@media only screen and (min-width: 1200px) {
    .ArrowLeft, .ArrowRight {
        font-size: 16px;
    }

    .Image {
        width: 600px;
        height: 600px;
    }
}
