.Container {
    background-color: lightblue;
    padding-top: 45px; 
}

.Extracurriculars {
    color: white; 
    display: grid; 
    grid-gap: 20px 0;
    padding: 45px; 
    grid-template-columns: auto auto auto; 
    justify-items: center; 
}

@media (min-width: 1800px) {
    .Extracurriculars {
        grid-template-columns: auto auto auto auto;
    }
}
