.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Info {
  font-weight: 300;
  font-size: 18px;
}

.Name {
  display: block;
  color: black;
}

.Proficiency {
  display: none;
  color: black;
}

/* .Container img:hover + .Info > .Name {
    display: none;
}

.Container img:hover + .Info > .Proficiency {
    display: block;
} */
