.Container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Info {
    font-size: 18px;
    font-weight: 300;
}

.Name {
    color: black;
    display: block;
}

.Proficiency {
    color: black;
    display: none;
}

/* .Container img:hover + .Info > .Name {
    display: none;
}

.Container img:hover + .Info > .Proficiency {
    display: block;
} */
