.Container {
  background-color: var(--color-secondary);
  border: none;
  color: white;
  text-decoration: none;
  border-radius: 8px;
}

@media (any-hover: hover) and (pointer: fine) {
  .Container:hover {
    background-color: var(--color-hover);
    cursor: pointer;
  }
}