.Container {
    margin: auto;
    width: 80%;
    max-width: 1000px;
}

.Title {
    font-size: 38px; 
    font-weight: 800; 
}

.Divider {
    background-color: white;
}

.Body {
    line-height: 28px; 
    text-align: justify;
}
