.Container {
    display: flex; 
    justify-content: space-between;
}

.Image {
    width: 200px; 
    height: 200px; 
    margin-left: -35px; 
}

.Title {
    font-size: 5.05em; 
    font-weight: 900; 
    line-height: 200px; 
}
