.Container {
    display: flex;
    justify-content: space-between;
    width: 1200px; 
    margin: auto; 
}

.Image {
    width: 700px; 
    height: 700px; 
    object-fit: cover;
    margin-right: 30px; 
    border: 2px solid #b8b8b8; 
}

.Text {
    border: 2px solid #b8b8b8; 
    border-radius: 10px; 
    padding: 20px; 
    line-height: 25px; 
    text-align: justify;
    background: white; 
    display: flex; 
    flex-direction: column; 
}

.Description {
    display: flex; 
    flex-direction: column;
}

.DescriptionHeader {
    font-weight: 700; 
    font-size: 1.5em; 
    margin-bottom: 10px; 
    padding-bottom: 10px; 
    border-bottom: 1px solid black; 
}

.LinksHeader {
    font-weight: 700; 
    font-size: 1.5em; 
    margin-top: 30px; 
    margin-bottom: 10px; 
    padding-bottom: 10px; 
    border-bottom: 1px solid black; 
}

.Link {
    text-decoration: none;
}

.Link:hover {
    text-decoration: underline;
}
