.Container {
    margin: auto;
    max-width: 600px;
    padding: 30px;
}

.Header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.CreditsDate {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Name {
    text-align: center;
    font-size: 50px;
    font-weight: 800; 
}

.Credits {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: black;
    white-space: nowrap;
    overflow: hidden;
}

.CreditsImage {
    height: 20px;
    margin-right: 6px;
}

.Date {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: black;
    white-space: nowrap;
    overflow: hidden;
    margin-top: -8px;
}

.DateImage {
    height: 20px;
    margin-right: 6px;
}

.Divider {
    background-color: white;
}

.Content {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.DescriptionArea {
    margin-top: 30px;
    padding: 20px;
    border: 1px solid gainsboro;
}

.Description {
    text-align: justify;
    margin: 0;
    font-size: 16px;
    line-height: 30px;
}

.WebsiteButtonContainer {
    display: block;
    margin-top: 32px;
}

.WebsiteButton {
    width: 100%;
    padding: 16px;
    font-size: 18px;
    font-weight: 600;
}

.Footer {
    margin-top: 30px;
    padding: 20px;
    border: 1px solid gainsboro;
}

.Technologies {
    display: grid;
    grid-template-columns: repeat(auto-fit, 64px);
    grid-gap: 32px 32px;
}

.Links {
    display: grid;
    grid-template-columns: repeat(auto-fit, 50px);
    grid-gap: 32px 32px; 
}

.SocialMediaIcon {
    transform: scale(1.65);
}

.SocialMediaIcon:hover {
    transform: scale(1.85);
}

@media only screen and (min-width: 768px) {
    .Container {
        max-width: 800px;
        padding: 60px;
    }

    .Name {
        font-size: 72px;
    }

    .CreditsDate {
        margin-top: 20px;
        flex-direction: row;
        align-items: normal;
    }

    .Credits {
        margin-top: 0;
        margin-right: 10px;
    }

    .Date {
        margin-top: 0;
    }
}

@media only screen and (min-width: 1200px) {
    .Container {
        max-width: 1200px;
    }

    .CreditsDate {
        margin-top: 0;
    }

    .Credits, .Date {
        margin-bottom: 0;
    }

    .Header {
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
    }

    .Name {
        text-align: left;
        font-size: 50px;
    }

    .Content {
        flex-direction: row;
    }

    .DescriptionArea {
        margin-top: 0;
        margin-left: 30px;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    .Description {
        margin-bottom: 0;
    }

    .WebsiteButtonContainer {
        margin-top: auto;
    }
}
