.ArrowDown {
  margin-top: 2px;
  margin-left: 4px;
  border-top: 6px solid var(--color-text);
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  width: 0;
  height: 0;
}

.ArrowUp {
  margin-top: 2px;
  margin-left: 4px;
  border-right: 6px solid transparent;
  border-bottom: 6px solid var(--color-text);
  border-left: 6px solid transparent;
  width: 0;
  height: 0;
}

.Container {
  margin: 0;
  width: 100%;
}

.Button,
.ButtonToolbar {
  display: flex;
  align-items: center;
  border: none;
  background-color: unset;
  color: var(--color-text);
  font-size: 18px;
  user-select: none;
}

.Button {
  box-sizing: border-box;
  padding: 16px 20px;
  width: 100%;
}

.Button.clicked {
  color: black;
}

.Button.clicked > .ArrowUp {
  border-bottom-color: black;
}

.Button.active {
  background-color: var(--color-accent-dark);
  color: black;
}

.Button.active > .ArrowDown {
  border-top-color: black;
}

.ContainerToolbar {
  margin: 0;
}

.ButtonToolbar {
  padding: 12px 16px;
  height: 100%;
}

.ButtonToolbar.clicked {
  color: black;
}

.ButtonToolbar.clicked > .ArrowUp {
  border-bottom-color: black;
}

.ButtonToolbar.active {
  background-color: var(--color-accent-dark);
  color: black;
}

.ButtonToolbar.active > .ArrowDown {
  border-top-color: black;
}

.Icon {
  margin-right: 8px;
}

@media (any-hover: hover) and (pointer: fine) {
  .Button:hover {
    transition: 0.25s;
    cursor: pointer;
    color: black;
  }

  .Button:hover > .ArrowDown {
    transition: 0.25s;
    border-top-color: black;
  }

  .Button:hover > .ArrowUp {
    transition: 0.25s;
  }

  .ButtonToolbar:hover {
    transition: 0.25s;
    cursor: pointer;
    color: black;
  }

  .ButtonToolbar:hover > .ArrowDown {
    transition: 0.25s;
    border-top-color: black;
  }

  .ButtonToolbar:hover > .ArrowUp {
    transition: 0.25s;
  }
}
