.Navigation {
    display: flex;
    border-bottom: 1px solid gainsboro;
}

.Title {
    font-size: 18px;
    font-weight: 600;
    padding: 16px;
    cursor: pointer;
    transition: 0.3s ease;
    user-select: none;
}

.Body {
    margin-top: 32px;
}

@media (any-hover: hover) and (pointer: fine) {
    .Title:hover {
        border-bottom: 1px solid #393ae7;
        transition: 0s;
    }
}
