.Navigation {
    display: flex;
    flex-direction: column;
}

.Title {
    font-size: 18px;
    font-weight: 600;
    padding: 16px;
    cursor: pointer;
    user-select: none;
    border-bottom: 1px solid gainsboro;
}

.Body {
    margin-top: 32px;
}

@media (any-hover: hover) and (pointer: fine) {
    .Title:hover {
        border-bottom: 1px solid #393ae7;
    }
}

@media only screen and (min-width: 768px) {
    .Navigation {
        flex-direction: row;
        border-bottom: 1px solid gainsboro;
    }

    .Title {
        border: none;
    }
}
