.Container {
    padding: 50px 0 50px 0;
    background-color: #f7f7f7;
}

.Header {
    margin: auto;
    width: 80%;
    max-width: 1000px;
}

.Title {
    font-size: 38px; 
    font-weight: 800; 
}

.MultiArea {
    margin: auto;
    width: 80%;
    max-width: 1000px;
    margin-top: 16px;
}

.Skills {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(128px, 1fr));
    grid-gap: 32px 32px;
}
