.Container {
    padding: 0 8px 0 8px; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    text-decoration: none;
    color: black;
}

.Icon {
    max-height: 45px;
}

.Name {
    padding-left: 6px; 
    font-size: 21px; 
}
