.Container {
    padding: 10px; 
    height: 85%;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.Container img {
    height: 100%; 
}

.Name {
    padding-left: 6px; 
    font-size: 21px; 
}
