.Container {
    margin: 0;
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
}

.Container a {
    color: #717171;
    height: 100%;
    padding: 12px 16px;
    text-decoration: none; 
}

.Container a:hover,
.Container a:active,
.Container a.active {
    transition: 0.25s; 
    background-color: #0097fe;
    color: white; 
}
