.Container, .SubmitMsgContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid gainsboro;
  margin: 64px auto;
  border-radius: 12px;
  width: 60%;
  padding: 32px;
  flex-direction: column;
}

.Description {
  font-size: 18px;
  max-width: 290px;
  text-align: center;
  margin: 0 0 32px;
}

.Form>div {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  box-sizing: border-box;
}

.Form>div:first-child {
  margin-top: 0;
}

.Form label {
  width: fit-content;
  margin-bottom: 4px;
  padding: 0;
}

.Form textarea {
  resize: vertical;
  height: 64px;
}

.Form ul {
  list-style: none;
  padding: 0;
  margin: 0;
  color: red;
  font-size: 14px;
}

.SubmitButton {
  margin-top: 16px;
  padding: 10px 14px;
  font-size: 16px;
}

.SubmitMsg {
  flex-direction: column;
}

.SubmitMsgTitle {
  margin-top: 8px;
  font-size: 50px;
  font-weight: 800;
  color: green;
  text-align: center;
}

.SubmitMsgDescription {
  font-size: 16px;
  margin-top: 8px;
  color: green;
  text-align: center;
}

.EmailLink {
  text-decoration: none;
  color: #393ae7;
}

.CheckMark {
  color: green;
}

.LoadingSpinner {
  font-size: 12px;
}

@media (any-hover: hover) and (pointer: fine) {
  .EmailLink:hover {
    text-decoration: underline;
  }
}

@media only screen and (min-width: 768px) {
  .Container, .SubmitMsgContainer {
    padding: 64px;
    max-width: 800px;
    flex-direction: row;
  }

  .Description {
    margin: 0 48px 0 0;
    text-align: left;
  }

  .SubmitMsg {
    margin-left: 32px;
    white-space: nowrap;
  }

  .SubmitMsgTitle {
    margin-top: 0;
    font-size: 64px;
    text-align: left;
  }

  .SubmitMsgDescription {
    font-size: 20px;
    text-align: left;
  }

  .LoadingSpinner {
    font-size: 16px;
  }
}