.SlideshowContainer {
    margin-top: 45px; 
    display: flex; 
    align-items: center;
    justify-content: space-between;
}

.Slideshow {
    margin: auto; 
    display: flex; 
    align-items: center; 
}

.AchievementWrapper {
    background-color: white;
    height: 300px; 
    width: 300px; 
    margin: 0 50px 0 50px; 
    box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000033;
}

.PrevButton {
    outline: none; 
    border: none; 
    background: none; 
    color: #5fa4bd; 
    font-size: 5em; 
    font-weight: 900; 
    margin-left: 120px; 
}

.NextButton {
    outline: none; 
    border: none; 
    background: none; 
    color: #5fa4bd; 
    font-size: 5em; 
    font-weight: 900; 
    margin-right: 120px; 
}

.PrevButton:hover {
    cursor: pointer; 
    color: lightblue; 
}

.NextButton:hover {
    cursor: pointer; 
    color: lightblue; 
}
