.Container {
  display: flex;
  gap: 16px;
  width: 80%;
  max-width: 1000px;
  margin: auto;
  padding: 24px;
}

.Info {
  display: flex;
  flex-direction: column;
  width: 100%
}

.Image {
  height: 72px;
  width: 72px;
}

.InfoRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.Title {
  margin: 0;
}

.Company, .DateRange, .Location {
  margin: 0;
  font-size: 18px;
}

.DateRange, .Location {
  display: none;
}

@media only screen and (min-width: 768px) {
  .DateRange, .Location {
    display: block;
  }
}