.Container {
  width: 100%;
  box-sizing: border-box;
  padding: 0 20px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary);
  margin-top: auto;
}

.SocialMediaIcons {
  display: flex;
  align-items: center;
  margin: 16px 0;
}

.SocialMediaIcon+.SocialMediaIcon {
  margin-left: 24px;
}

.SocialMediaIcon {
  transform: scale(1.5);
  text-decoration: none;
}

.CopyrightText {
  color: white;
  margin: 0;
  font-size: 16px;
}

@media only screen and (min-width: 768px) {
  .Container {
    padding: 0 20px;
    height: 65px;
    flex-direction: row;
    justify-content: space-between;
  }

  .CopyrightText {
    font-size: 18px;
  }
}

@media (any-hover: hover) and (pointer: fine) {
  .SocialMediaIcon:hover {
    transform: scale(1.7);
  }
}