.Container {
    position: fixed;
    width: 270px;
    background-color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 1050; 
    box-sizing: border-box;
    padding: 20px 0;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out; 
}

.Show {
    transform: translateX(0);
}

.NavItems {
    width: 100%;
}
