.Container {
  padding: 60px 30px;
  background-color: var(--color-primary);
}

.Header {
  text-align: center;
}

.Title {
  font-size: 72px;
  color: white;
}

.Subtitle {
  margin-top: 42px;
  font-weight: normal;
}