.Container {
  background-color: var(--color-primary);
  padding: 60px 30px;
}

.Header {
  text-align: center;
}

.Title {
  color: white;
  font-size: 72px;
}

.Subtitle {
  margin-top: 42px;
  font-weight: normal;
}
